#container{
    display: flex;
    /* justify-content: center; */
}
#card1{
    height: 200px;
    width: 200px;
    background-color: red;
}
#card2{
    height: 200px;
    width: 200px;
    background-color: green;
}
#card3{
    height: 200px;
    width: 200px;
    background-color: blue;
}
#card4{
    height: 200px;
    width: 200px;
    background-color: yellow;
}
#card5{
    height: 200px;
    width: 200px;
    background-color: pink;
}
@media(min-width:300px) and (max-width:420px){ 
    #container{
        flex-direction: column;
    }
}